@import '../../../../Theme/themes.scss';

@include nb-install-component() {


  ::ng-deep {

    .flip-icon {
      position: absolute;
      right: 0.625rem;
      top: 1rem;
      @include nb-rtl(right, auto);
      @include nb-rtl(left, 0.625rem);
      cursor: pointer;
    }

    .front-container {
      max-width: 100%;
    }

    .flipped {
      .back-container {
        .flip-icon {
          transform: scaleX(-1);
        }
      }

      .front-container {
        .flip-icon {
          display: none;
        }
      }
    }
  }
}
